.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 768px;
}

.touches-header {
  padding-top: 125px;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero {
  position: relative;
}

body {
  background: whitesmoke;
}

header {
  background: white;
  .flex-container {
    @include center(95%);
  }
  .logo {
    img {
      padding: 15px;
    }
  }
  .left {
    display: flex;
    align-items: center;
    width: 50%;
  }
  nav {
    padding-left: 30px;
    a {
      padding-right: 20px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.checklist {
  margin-top: 50px;
  position: relative;
  .container {
    margin-bottom: 30px;
    background: white;
    @include box-shadow;
  }
  fieldset {
    padding: 20px;
  }
  .banner {
    display: flex;
    padding: 15px;
    align-items: center;

    width: 100%;
    background: $main;

    h2 {
      margin: 0;
      padding-left: 20px;
      line-height: 0;
    }
  }
}

.padding-top {
  padding-top: 50px;
}
